
<div class="cart" data-toggle="inactive">
    <div class="label" id="cart-label">
        <i class="ion-bag"></i>
        <i class="cart-num" id="cart-num">{{totalProducts cart}}</i>
    </div>

    <div class="overlay"></div>

    <div class="window">
        <div class="title">
            <button type="button" class="close"><i class="ion-android-close"></i></button>
            <h4>Giỏ hàng</h4>
        </div>

        <div class="content" id="cart-content">
        {{#with cart}}
        {{#each listProducts}}
            <div class="media">
                {{#with productID}}
                <div class="media-left">
                    <a href="/store/{{_id}}">
                        <img class="media-object" src="{{cover}}" alt="HP Chromebook 11"/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{name}}</h4>
                    <label>{{type}}</label>
                    <p class="price">{{basePrice}}</p>
                </div>
                {{/with}}
                <div class="controls">
                    <div class="input-group" data-id="{{productID._id}}">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button" data-action="minus"><i class="ion-minus-round"></i></button>
                        </span>
                        <input type="text" class="form-control input-sm" placeholder="Qty" value="{{number}}" readonly="">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button" data-action="plus"><i class="ion-plus-round"></i></button>
                        </span>
                    </div><!-- /input-group -->

                    <a href="#remove"> <i class="ion-trash-b"></i> Xoá </a>
                    <a href="#remove"> <i><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#00a1b4" class="bi bi-bag-dash-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM6 9.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"/>
                    </svg> </i>Mua sau</a>
                </div>
            </div>
        {{/each}}
        {{/with}}
        </div>

        <div class="checkout container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 align-right">
                    <a class="btn btn-primary" href="javascript:;" id="checkout-button"> Tiến hành thanh toán </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/x-handlebars" id="cart-product-template">

        \{{#with cart}}
        \{{#each listProducts}}
            <div class="media">
                \{{#with productID}}
                <div class="media-left">
                    <a href="/store/\{{_id}}">
                        <img class="media-object" src="\{{cover}}" alt="HP Chromebook 11"/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">\{{name}}</h4>
                    <label>\{{type}}</label>
                    <p class="price">\{{basePrice}}</p>
                </div>
                \{{/with}}
                <div class="controls">
                   <div class="input-group" data-id="\{{productID._id}}">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-sm" type="button" data-action="minus"><i class="ion-minus-round"></i></button>
                </span>
                        <input type="text" class="form-control input-sm" placeholder="Qty" value="\{{number}}" readonly="">
                        <span class="input-group-btn">
                  <button class="btn btn-default btn-sm" type="button" data-action="plus"><i class="ion-plus-round"></i></button>
                </span>
                    </div><!-- /input-group -->

                    <a href="#remove"> <i class="ion-trash-b"></i> Xoá </a>
                    <a href="#remove"> <i class="ion-bag"></i> Mua sau</a>
                </div>
            </div>
        \{{/each}}
        \{{/with}}
        </div>

</script>

<script type="text/x-handlebars" id="cart-label-template">
   <i class="ion-bag"></i>
   <i class="cart-num" id="cart-num">\{{totalProducts cart}}</i>
</script>