<hr class="offset-top">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<div class="tags">
    <div class="container">
        <div class="btn-group pull-right sorting">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="ion-arrow-down-b"></i> Sorting by name
            </button>

            <ul class="dropdown-menu">
                <li class="active"><a href="#"> <i class="ion-arrow-down-c"></i> Name [A-Z]</a></li>
                <li><a href="#"> <i class="ion-arrow-up-c"></i> Name [Z-A]</a></li>
                <li><a href="#"> <i class="ion-arrow-down-c"></i> Price [Low-High]</a></li>
                <li><a href="#"> <i class="ion-arrow-up-c"></i> Price [High-Low]</a></li>
            </ul>
        </div>

        <p>Search by tags</p>
        <form method="post" id="typeform">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default btn-sm {{#if Allcheck}} active{{/if}}">
                    <input type="radio" name="options" id="option1" onchange="TypeFormSubmit();" value="" > All products
                </label>
                <label class="btn btn-default btn-sm {{#if Desktopscheck}}active{{/if}}">
                    <input type="radio" name="options" id="option2" onchange="TypeFormSubmit();" value="Desktops"> Desktops
                </label>
                <label class="btn btn-default btn-sm {{#if Laptopscheck}}active{{/if}}">
                    <input type="radio" name="options" id="option3" onchange="TypeFormSubmit();" value="Laptops"> Laptops
                </label>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function TypeFormSubmit(){
        let link = '/store?';
        const params = new URLSearchParams(document.location.search)
        for (const param of params) {
            if(param[0]!=='page' && param[0] !== 'type'){
                link = link + param[0] + '=' + param[1] + '&';
            }
        }
        document.getElementById("typeform").action = link + 'type=' + document.getElementById('typeform').options.value + '&';
        document.getElementById("typeform").action = document.getElementById("typeform").action + 'page=' + 1;
        document.getElementById("typeform").submit();

    }
</script>




<div class="container">
    <div class="row">
        <!-- Filter -->
        <div class="col-sm-4 col-md-3">
            <hr class="offset-lg">
            <div class="filter">
                <div class="item">
                    <div class="title">
                        <a data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i>
                            Xem</a>
                        <a data-action="clear"> <i class="ion-ios-trash-outline"></i> Reset</a>
                        <h1 class="h4">Màn hình</h1>
                    </div>
                    <div class="grid">
                        <div class="checkbox-group">
                            <input type="checkbox" name="Display" value='13.3"' onchange="filterChange();">
                            <label >13.3"</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" name="Display" value='14"' onchange="filterChange();">
                            <label >14"</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" name="Display" value='15.6"' onchange="filterChange();">
                            <label >15.6"</label>
                        </div>
                        <div class="checkbox-group">
                                <input type="checkbox" name="Display" value='17"' onchange="filterChange();">
                            <label >17"</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" name="Display" value='21.5"' onchange="filterChange();">
                            <label >21.5"</label>
                        </div>

                    </div>
                </div>

                <br>

                <div class="item">
                    <div class="title">
                        <a data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i>
                            Xem</a>
                        <a data-action="clear"> <i class="ion-ios-trash-outline"></i> Reset</a>
                        <h1 class="h4">Vi xử lý</h1>
                    </div>
                    <div class="grid">
                        <div class="checkbox-group">
                            <input type="checkbox" name="Processor" value='i3' onchange="filterChange();">
                            <label >Core i3</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" name="Processor" value='i5' onchange="filterChange();">
                            <label >Core i5</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" name="Processor" value='i7' onchange="filterChange();">
                            <label >Core i7</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" name="Processor" value='Ryzen 5' onchange="filterChange();">
                            <label >Ryzen 5</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" name="Processor" value='Ryzen 7' onchange="filterChange();">
                            <label >Ryzen 7</label>
                        </div>

                    </div>
                </div>

                <br>

                <div class="item">
                    <div class="title">
                        <a data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i>
                            Xem</a>
                        <a data-action="clear"> <i class="ion-ios-trash-outline"></i> Reset</a>
                        <h1 class="h4">RAM</h1>
                    </div>
                    <div class="grid">
                        <div class="checkbox-group">
                            <input type="checkbox" name="Memory" value='4GB' onchange="filterChange();">
                            <label >4GB</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" name="Memory" value='8GB' onchange="filterChange();">
                            <label >8GB</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" name="Memory" value='16GB' onchange="filterChange();">
                            <label >16GB</label>
                        </div>


                    </div>
                </div>

                <div class="item">
                    <div class="title">
                        <h1 class="h4">Lọc theo giá</h1>
                    </div>

                    <div class="">
                        <br>
                        <input type="range" id="slider-price"  onchange="filterChange();">
                        <br>
                        <p id="amount"  onchange="filterChange();" ></p>
                    </div>
                </div>

                <br>

                <div class="item">
                    <div class="title">
                        <a href="#clear" data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i>
                            Xem</a>
                        <a href="#clear" data-action="clear"> <i class="ion-ios-trash-outline"></i> Reset</a>
                        <h1 class="h4">Thương hiệu</h1>
                    </div>

                    <div class="grid">
                        {{#each Manufacturers}}
                            <div class="checkbox-group">
                                <input type="checkbox" name="Manufacturer" value='{{_id}}' onchange="filterChange();">
                                <label >{{name}}</label>
                            </div>
                        {{/each}}

                    </div>
                </div>
            </div>
        </div>
        <!-- /// -->

        <!-- Products -->

        <div class="col-sm-8 col-md-9" id="products">
            <hr class="offset-lg">

            <div class="products">
                <div class="row" >
                    {{#if products}}
                        {{#each products}}
                            <div class="col-sm-6 col-md-4 product">
                                <div class="body">
                                    <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
                                    <a href="./store/{{_id}}"><img src="{{cover}}" alt="Apple iMac 27 Retina"/></a>

                                    <div class="content">
                                        <h1 class="h3">{{name}}</h1>
                                        <p class="price">{{basePrice}}</p>
                                        <label>{{type}}</label>

                                        <button class="btn btn-link"> <i class="ion-android-open"></i> Details</button>
                                        <button class="btn btn-primary btn-sm rounded"> <i class="ion-bag"></i> Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <h3>Nothing found!</h3>
                    {{/if}}

                </div>
            </div>

            <nav>
                {{#with pagination}}
                <ul class="pagination">
                    <li {{#eq page 1}}class="disabled" {{/eq}}>
                        <a href="/store?page={{prevPage}}" aria-label="Previous">
                            <span aria-hidden="true"><i class="ion-ios-arrow-left"></i></span>
                        </a>
                    </li>
                    {{#each ../pagingButtons}}
                    {{#gt value 0}}
                    {{#lte value ../totalPages}}
                    <li {{#if active}} class="active" {{/if}}> <a href="{{link}}">{{value}}</a> </li>
                    {{/lte}}
                    {{/gt}}
                    {{/each}}
                    <li {{#eq page totalPages}}class="disabled" {{/eq}}>
                        <a href="/store?page={{nextPage}}" aria-label="Next">
                            <span aria-hidden="true"><i class="ion-ios-arrow-right"></i></span>
                        </a>
                    </li>
                </ul>
                {{/with}}
            </nav>
        </div>
        <!-- /// -->
    </div>
</div>
<script type="text/x-handlebars" id="products-template">
<hr class="offset-lg">
            <div class="products">
                <div class="row">
                    \{{#if products}}
                        \{{#each products}}
                            <div class="col-sm-6 col-md-4 product">
                                <div class="body">
                                    <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
                                    <a href="./store/\{{_id}}"><img src="\{{cover}}" alt="Apple iMac 27 Retina"/></a>

                                    <div class="content">
                                        <h1 class="h3">\{{name}}</h1>
                                        <p class="price">\{{basePrice}}</p>
                                        <label>\{{type}}</label>

                                        <button class="btn btn-link"> <i class="ion-android-open"></i> Details</button>
                                        <button class="btn btn-primary btn-sm rounded"> <i class="ion-bag"></i> Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        \{{/each}}
                    \{{else}}
                        <h3>Nothing found!</h3>
                    \{{/if}}

                </div>
            </div>

            <nav>
                \{{#with pagination}}
                <ul class="pagination">
                    <li \{{#eq page 1}}class="disabled" \{{/eq}}>
                        <a href="/store?page=\{{prevPage}}" aria-label="Previous">
                            <span aria-hidden="true"><i class="ion-ios-arrow-left"></i></span>
                        </a>
                    </li>
                    \{{#each ../pagingButtons}}
                        \{{#gt value 0}}
                        \{{#lte value ../totalPages}}
                        <li \{{#if active}} class="active" \{{/if}}> <a href="\{{link}}">\{{value}}</a> </li>
                        \{{/lte}}
                        \{{/gt}}
                    \{{/each}}
                    <li \{{#eq page totalPages}}class="disabled" \{{/eq}}>
                        <a href="/store?page=\{{nextPage}}" aria-label="Next">
                            <span aria-hidden="true"><i class="ion-ios-arrow-right"></i></span>
                        </a>
                    </li>
                </ul>
                \{{/with}}
            </nav>
</script>