<hr class="offset-lg">
<hr class="offset-lg">
<hr class="offset-lg hidden-xs">


{{#with product}}
<section class="product">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-7 white no-padding">
                <div class="carousel-product" data-count="{{../imageCount}}" data-current="1">

                    <div class="items">
                        <button class="btn btn-control" data-direction="right"> <i class="ion-ios-arrow-right"></i></button>
                        <button class="btn btn-control" data-direction="left"> <i class="ion-ios-arrow-left"></i></button>
                        <div class="item center" data-marker="1">
                            <img src="{{cover}}" alt="Microsoft Surface Studio" class="background"/>
                        </div>
                        {{#each productImages}}
                            <div class="item" data-marker="{{incremented @index}}">
                                <img src="{{path}}" alt="Microsoft Surface Studio" class="background"/>
                            </div>
                        {{/each}}
                    </div>

                    <ul class="markers">
                        <li data-marker="1" class="active"></li>
                        {{#each productImages}}
                            <li data-marker="{{incremented @index}}"></li>
                        {{/each}}
                    </ul>

                </div>
            </div>
            <div class="col-sm-5 col-md-5 no-padding-xs">
                <div class="caption">
                    {{#with manufacturer_id}}
                    <img src="{{logo}}" alt="{{name}}" class="brand hidden-xs hidden-sm" />
                    {{/with}}
                    <h1>{{name}}</h1>
                    {{#with shortSpecs}}
                    <p> &middot; {{shortOS}}</p>
                    <p> &middot; {{shortDisplay}}</p>
                    <p> &middot; {{shortCPU}}</p>
                    {{/with}}
                    <hr class="offset-md hidden-sm">
                    <hr class="offset-sm visible-sm">
                    <hr class="offset-xs visible-sm">

                    <p class="price">$2 999.00</p>
                    <p class="price through">${{basePrice}}</p>
                    <hr class="offset-md">

                    <button class="btn btn-primary rounded"> <i class="ion-bag"></i> Add to cart</button>
                    <button class="btn btn-link"> <i class="ion-ios-heart"></i> See later </button>
                </div>
            </div>
        </div>
        <hr class="offset-sm hidden-xs">

        <div class="row">
            <div class="col-sm-7 white sm-padding">
                <hr class="offset-sm visible-xs">

                <h2 class="h1">{{name}}</h2>
                <br>

                <p class="text-justify">
                    {{slogan}}
                </p>
                <br>

                <h2>Product specifications</h2>
                <br>

                <div class="row specification">
                    <div class="col-sm-4"> <label>Operating system</label> </div>
                    <div class="col-sm-8"> <p>{{{OS}}}</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-4"> <label>Display</label> </div>
                    <div class="col-sm-8">
                        <p>
                            {{{display}}}
                        </p>
                    </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-4"> <label>Processor</label> </div>
                    <div class="col-sm-8">
                        <p>{{{processor}}}</p>
                    </div>
                </div>


                <div class="row specification">
                    <div class="col-sm-4"> <label>Graphics</label> </div>
                    <div class="col-sm-8"> <p>{{{graphics}}}</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-4"> <label>Memory</label> </div>
                    <div class="col-sm-8"> <p>{{{memory}}}</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-4"> <label>Storage</label> </div>
                    <div class="col-sm-8"> <p>{{{storage}}}</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-4"> <label>Ethernet</label> </div>
                    <div class="col-sm-8"> <p>{{{ethernet}}}</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-4"> <label>Wireless</label> </div>
                    <div class="col-sm-8">
                        <p>
                            {{{wireless}}}
                        </p>
                    </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-4"> <label>Audio</label> </div>
                    <div class="col-sm-8"> <p>{{{audio}}}</p> </div>
                </div>

                <div class="row specification">
                    <div class="col-sm-4"> <label>Power supply</label> </div>
                    <div class="col-sm-8"> <p>{{{power}}}</p> </div>
                </div>


                <hr class="offset-lg">
            </div>
            <div class="col-sm-5 no-padding-xs">
                <div class="talk white">
                    <h2 class="h3">Do you have any questions?</h2>
                    <p class="">Whatsuping now with our manager</p>
                    <hr class="offset-md">

                    <a href="tel:+80005554465" class="btn btn-primary btn-sm"> <i class="ion-social-whatsapp"></i> 8000 555-44-65 </a>
                    <hr class="offset-md visible-xs">
                </div>
                <hr class="offset-sm hidden-xs">

                <div class="comments white">
                    <h2 class="h3">What do you think? (#3)</h2>
                    <br>

                    {{#each cmt}}
                    <div class="wrapper">
                        <div class="content">
                            <h3>{{name}}</h3>
                            <label>{{date}}</label>
                            <p>
                                {{content}}
                            </p>
                        </div>
                    </div>
                    {{/each}}
                    <hr class="offset-lg">
                    <hr class="offset-md">
                    {{#if user}}
                        <h3>{{user.name}}</h3>
                    {{else}}
                        <input type="text" placeholder="Add guest's name" value="" name="name"/>
                    {{/if}}
                    <br><bt>
                    <input type="text" placeholder="Add comment" value="" name="cmt"/>
                    <hr>
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Modal-Comment"> <i class="ion-chatbox-working"></i> Add comment </button>
                    <hr class="offset-md visible-xs">
                </div>
            </div>
        </div>
    </div>
</section>
{{/with}}
<hr class="offset-lg">

<section class="products">
    <div class="container">
        <h2 class="h2 upp align-center"> Sản phẩm tương tự </h2>
        <hr class="offset-lg">

        <div class="row">
            {{#each Products}}
                <div class="col-sm-6 col-md-3 product">
                    <div class="body">
                        <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
                        <a href="/store/{{_id}}"><img src="{{cover}}" alt="{{manufacturer}} {{name}}"/></a>
                        <div class="content align-center">
                            <p class="price">${{basePrice}}</p>
                            <h2 class="h3">{{name}}</h2>
                            <hr class="offset-sm">

                            <a href="./store/{{_id}}" ><button class="btn btn-link"> <i class="ion-android-open"></i> Chi tiết</button></a>
                            <button class="btn btn-primary btn-sm rounded"> <i class="ion-bag"></i> Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>