<h3 style="margin-top: 0 !important">Đơn hàng của tôi</h3>
<br>
<table class="table white">
    <thead>
    <tr>
        <th>Mã đơn hàng</th>
        <th>Ngày mua</th>
        <th>Sản phẩm</th>
        <th>Tổng tiền</th>
        <th>Trạng thái</th>
    </tr>
    </thead>
    <tbody>
    {{#each orders}}
    <tr>
        <th scope="row"><a href="/users/orders/{{_id}}">{{_id}}</a></th>
        <td>{{convertDate dateModified}}</td>
        <td>
            {{#each listProducts}}
                <p>{{productID.name}}</p>
            {{/each}}
        </td>
        <td>{{convertPrice totalCost}}</td>
        <td>{{status}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>